streamlit
python-dotenv==1.0.1

pydantic
pydantic-ai

groq

langchain
langchain-community==0.0.30

sentence-transformers
torch

faiss-cpu==1.9.0.post1
langchain_huggingface 

rich==13.4.0  


