streamlit==1.31.1
python-dotenv==1.0.1

pydantic
pydantic-ai==0.0.14

groq

langchain==0.1.14
langchain-community==0.0.30

sentence-transformers==2.2.2
torch

faiss-cpu==1.9.0.post1
langchain_huggingface 

rich==13.4.0  
markdown-it-py==3.0.0  

